name: Main Build

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-latest

    steps:

    - name: Checkout Meadow.Core
      uses: actions/checkout@v4
      with:
        path: Meadow.Core

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 8.0.x

    - name: Install MAUI Workload
      run: dotnet workload install maui --ignore-failed-sources

    - name: Workload Restore Meadow.Core
      run: dotnet workload restore Meadow.Core/source/Meadow.Core.sln
      
    - name: Build Meadow.Core
      run: dotnet build -c Release Meadow.Core/source/Meadow.Core.sln
